In [2]:
import pandas as pd

In [3]:
mimiciv_dir = './mimic_iv/'

In [4]:
diagnoses_icd = pd.read_csv(f'{mimiciv_dir}hosp/diagnoses_icd.csv', low_memory=False)
d_icd_diagnoses = pd.read_csv(f'{mimiciv_dir}hosp/d_icd_diagnoses.csv', low_memory=False)

In [5]:
# Filter patients with Dialysis
dialysis_codes = ["Z992", "N186", "5856", "V4511"]
diagnoses_icd["chronic_dialysis"] = diagnoses_icd["icd_code"].str.strip().isin(dialysis_codes)

In [6]:
diagnoses_icd.head()

   subject_id   hadm_id  seq_num icd_code  icd_version  chronic_dialysis
0    11603789  25552978        3  65801              9             False
1    11603789  25552978        4  64881              9             False
2    11603789  25552978        5  V270               9             False
3    11603789  25552978        1  65221              9             False
4    11603789  25552978        2  64421              9             False