In [1]:
import pandas as pd

In [2]:
#mimiciv_dir = '/data/vision/polina/projects/chestxray/data_mimic_iv/0.4/'

In [3]:
diagnoses_icd = pd.read_csv(f'{mimiciv_dir}hosp/diagnoses_icd.csv', low_memory=False)
diagnoses_icd[:10]

   subject_id   hadm_id  seq_num icd_code  icd_version
0    11603789  25552978        3  65801              9
1    11603789  25552978        4  64881              9
2    11603789  25552978        5  V270               9
3    11603789  25552978        1  65221              9
4    11603789  25552978        2  64421              9
5    16809467  29803749        4  66982              9
6    16809467  29803749        1  64511              9
7    16809467  29803749        2  64811              9
8    16809467  29803749        5  V270               9
9    16809467  29803749        3  2449               9

In [4]:
d_icd_diagnoses = pd.read_csv(f'{mimiciv_dir}hosp/d_icd_diagnoses.csv', low_memory=False)
d_icd_diagnoses[:10]

  icd_code  icd_version                             long_title
0  0010               9         Cholera due to vibrio cholerae
1  0011               9  Cholera due to vibrio cholerae el tor
2  0019               9                   Cholera, unspecified
3  0020               9                          Typhoid fever
4  0021               9                    Paratyphoid fever A
5  0022               9                    Paratyphoid fever B
6  0023               9                    Paratyphoid fever C
7  0029               9         Paratyphoid fever, unspecified
8  0030               9             Salmonella gastroenteritis
9  0031               9                  Salmonella septicemia