In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
mimiciv_dir = 'C:/Users/suzie/Dropbox (MIT)/Spring 2021/6.871 Machine Learning for Healthcare/mimic-iv-1.0/hosp'

In [3]:
mimiciv_dir = 'data'

In [26]:
mimiciv_dir = './mimic_iv/hosp'

## Part I: read data

In [12]:
df_event = pd.read_csv(f'{mimiciv_dir}/diagnoses_icd.csv', low_memory=False)

In [13]:
df_code = pd.read_csv(f'{mimiciv_dir}/d_icd_diagnoses.csv', low_memory=False)

In [41]:

#merge tables:
df_sub = pd.merge(df_event, df_code, on = ['icd_code','icd_version'], how='left')

#convert to lower case:
df_sub['long_title'] = df_sub['long_title'].str.lower()

df_sub = df_sub.dropna(subset=['icd_code','icd_version','hadm_id','subject_id','long_title'], how='any')

# df_sub.head(5)

In [15]:
df_emar = pd.read_csv(f'{mimiciv_dir}/emar.csv', low_memory=False)
df_emar.head()

,subject_id,hadm_id,emar_id,emar_seq,poe_id,pharmacy_id,charttime,medication,event_txt,scheduletime,storetime
0,10000473,NaN,10000473-15,15,10000473-23,NaN,2138-03-16 03:53:00,Doxycycline Hyclate,Administered,2138-03-16 03:53:00,2138-03-16 03:53:00
1,10000764,NaN,10000764-17,17,10000764-9,NaN,2132-10-14 21:49:00,Amoxicillin-Clavulanic Acid,Administered,2132-10-14 21:49:00,2132-10-14 21:53:00
2,10000764,NaN,10000764-18,18,10000764-8,NaN,2132-10-14 21:49:00,Tetanus-DiphTox-Acellular Pertuss (Adacel),Administered,2132-10-14 21:49:00,2132-10-14 21:53:00
3,10000764,27897940.0,10000764-19,19,10000764-11,NaN,2132-10-14 23:54:00,PNEUMOcoccal 23-valent polysaccharide vaccine,Not Given,2132-10-14 23:54:00,2132-10-14 23:55:00
4,10000764,27897940.0,10000764-20,20,10000764-10,NaN,2132-10-14 23:55:00,Influenza Vaccine Quadrivalent,Not Given,2132-10-14 23:55:00,2132-10-14 23:55:00

In [16]:
df_emar_detail = pd.read_csv(f'{mimiciv_dir}/emar_detail.csv', low_memory=False)

,subject_id,emar_id,emar_seq,parent_field_ordinal,administration_type,pharmacy_id,barcode_type,reason_for_no_barcode,complete_dose_not_given,dose_due,...,infusion_rate_unit,route,infusion_complete,completion_interval,new_iv_bag_hung,continued_infusion_in_other_location,restart_interval,side,site,non_formulary_visual_verification
0,10000032,10000032-10,10,1.1,NaN,48770010.0,if,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10000032,10000032-10,10,1.2,NaN,48770010.0,if,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10000032,10000032-10,10,1.3,NaN,48770010.0,if,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10000032,10000032-10,10,1.4,NaN,48770010.0,if,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10000032,10000032-10,10,NaN,Standard Maintenance Medication,NaN,NaN,NaN,No,40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [100]:
print(df_emar_detail.drop_duplicates(subset=["emar_id"]).shape[0])
print(df_emar_detail.drop_duplicates(subset=["emar_id", "route"]).shape[0])

27464367
35656372

## Part II: ICD Code Cohorting

In [42]:
#Filter to heart failure: 
#Filter 1: long title contains "heart failure" AND long title doesnt contain without heart failure
# this paper: https://academic.oup.com/aje/article/183/5/462/2462157?login=true used almost all of these for ADHF
df_f1 = df_sub[df_sub['long_title'].str.contains('heart failure')]
df_f1 = df_f1[~df_f1['long_title'].str.contains('without heart failure')]
# df_f1.head(5)

In [43]:
df_f1_hadm = df_f1[['subject_id','hadm_id','long_title', 'icd_code','icd_version']].drop_duplicates(subset=['hadm_id'])
print(np.shape(df_f1_hadm)[0])
n1 = np.shape(df_f1_hadm)[0]
# df_f1_hadm.head(5)

56053

In [44]:
# Filter 2: Filter 1 + exclude "XX disease with heart failure" format (only keep HF as main target in title)
df_f2 = df_f1[~df_f1['long_title'].str.contains('disease')]
df_f2_hadm = df_f2[['subject_id','hadm_id','long_title', 'icd_code','icd_version']].drop_duplicates(subset=['hadm_id'])
print(np.shape(df_f2_hadm)[0])
hf2_icd = df_f2[['long_title', 'icd_code','icd_version']].drop_duplicates(subset=['icd_code']) #.sort_values('icd_code')
hf2_icd
n2 = np.shape(df_f2_hadm)[0]

55935

In [45]:
# Filter 5: Filter 1+2+ Use I50+ and 428+
# source: https://icd.codes/icd10cm/I503 "The ICD code I50 is used to code Acute decompensated heart failure"
df_f5 = df_f2[df_f2['icd_code'].str.contains('428') | df_f2['icd_code'].str.contains('I50')]
df_f5_hadm = df_f5[['subject_id','hadm_id','long_title', 'icd_code','icd_version']].drop_duplicates(subset=['hadm_id'])
n5=(np.shape(df_f5_hadm)[0])
n5

55857

In [46]:
# Filter 6: Filter 1+2+5+ exclude acute only, exclude chronic only, keep acute on chronic or specified
# source: NA_CARE_Prov_ICD_10_CM_Documentation_and_Coding_Best_Practices_Heart_Failure_v3_ENG_2019 pdf
df_f6 = df_f5[~df_f5['long_title'].str.contains('acute')  | df_f5['long_title'].str.contains('acute on chronic') ]
df_f6 = df_f6[~df_f6['long_title'].str.contains('chronic')  | df_f6['long_title'].str.contains('acute on chronic') ]
df_f6_hadm = df_f6[['subject_id','hadm_id','long_title', 'icd_code','icd_version']].drop_duplicates(subset=['hadm_id'])
n6 = (np.shape(df_f6_hadm)[0])
n6

42892

In [47]:
# Filter 7: Filter 1+2+5+6 exclude end stage
# It is important to distinguish between AdHF and end-stage HF
# source https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6963179/
df_f7 = df_f6[~df_f6['long_title'].str.contains('end stage')]
df_f7_hadm = df_f7[['subject_id','hadm_id','long_title', 'icd_code','icd_version']].drop_duplicates(subset=['hadm_id'])
n7 = (np.shape(df_f7_hadm)[0])
n7

42865

In [48]:
df_f7_hadm.head()

,subject_id,hadm_id,long_title,icd_code,icd_version
886,16569548,24870770,"congestive heart failure, unspecified",4280,9
1050,18460230,25771608,"congestive heart failure, unspecified",4280,9
2342,19661870,22135027,"congestive heart failure, unspecified",4280,9
2683,18932584,23973570,"congestive heart failure, unspecified",4280,9
2961,16723797,28913496,"congestive heart failure, unspecified",4280,9

## Part III: DRG codes

In [49]:
drgcodes = pd.read_csv(f'{mimiciv_dir}/drgcodes.csv', low_memory=False)

In [50]:
# merge tables
df_ids_icds = pd.merge(df_event, df_code, on = ['icd_code','icd_version'], how='left')
df_merged = pd.merge(df_ids_icds, drgcodes, on = ['hadm_id', 'subject_id'], how='left')
df_merged = df_merged.drop(columns=['drg_severity', 'drg_mortality'])

In [51]:
# drop any rows that don't have a drg_code
df_merged = df_merged.dropna(subset=['drg_code'], how='any')

In [52]:
# select rows where DRG code contains "hf" or "heart failure"
df_sub = df_merged[df_merged['description'].str.contains('hf|heart failure', case=False)]
# there are some drg codes that specify "w/o hf" or "w/o heart failure" - don't include those rows
df_sub = df_sub[~df_sub['description'].str.contains('W/O AMI/HF/SHOCK|W/O AMI, HEART FAILURE OR SHOCK', case=False)]

In [54]:
# remove the hadm_ids that have a long title with heart failure in them, since the ICD codes already account for them
df_sub = df_sub.dropna(subset=['icd_code','icd_version','hadm_id','subject_id','long_title'], how='any')

no_hf_icd = []
for hadm_id in df_sub.hadm_id.unique():
    df_hadm_id = df_sub[df_sub['hadm_id'] == hadm_id]
    if len(df_hadm_id[df_hadm_id['long_title'].str.contains('heart failure', case=False)]) == 0:
        no_hf_icd.append(hadm_id)
df_no_hf_icd = df_sub[df_sub['hadm_id'].isin(no_hf_icd)]

In [55]:
# only keep rows where ICD codes include:
#" cardiogenic shock", "left ventricular failure, unspecified", "shock, unspecified", or pleural effusion or fluid overload
df_no_hf_icd = df_no_hf_icd[df_no_hf_icd['long_title'].str.contains('cardiogenic shock|left ventricular failure, unspecified|shock, unspecified|Pleural effusion, not elsewhere classified|Fluid overload, unspecified', case=False)]
df_no_hf_icd_hadm = df_no_hf_icd[['subject_id','hadm_id','long_title', 'icd_code','icd_version', 'description']].drop_duplicates(subset=['hadm_id'])

## Part IV: IV Diuretics

In [78]:
chf_hadm = df_f7_hadm.hadm_id.append(df_no_hf_icd_hadm.hadm_id).unique() # 51322 hadm
len(chf_hadm)

42883

In [58]:
df_diuretics = pd.DataFrame({'furosemide': (df_emar['medication'].str.contains('furosemide', case=False, na=False) | df_emar['medication'].str.contains('lasix', case=False, na=False)) & ~df_emar['medication'].str.contains('Desensitization', case=False, na=False), 
                   'bumetanide': (df_emar['medication'].str.contains('bumetanide', case=False, na=False) | df_emar['medication'].str.contains('bumex', case=False, na=False)) & ~df_emar['medication'].str.contains('Desensitization', case=False, na=False), 
                   'chlorothiazide': (df_emar['medication'].str.contains('chlorothiazide', case=False, na=False) | df_emar['medication'].str.contains('diuril', case=False, na=False)) & ~df_emar['medication'].str.contains('Desensitization', case=False, na=False) & ~df_emar['medication'].str.contains('hydrochlorothiazide', case=False, na=False)})

In [59]:
# prescriptions for diuretics
given_diuretic = df_diuretics.any(axis=1)

In [104]:
# Determine which meds are given by IV (route_iv_detail) and which are given by another route (route_not_iv_detail)
route_iv_detail = df_emar_detail.route.str.contains('IV', case=False, na=False)
route_not_iv_detail = ~df_emar_detail.route.str.contains('IV', case=False, na=True)

NameError: name 'df_emar_details' is not defined

In [112]:
# Convert above values to have one value per emar
from collections import defaultdict
num_emar_details = df_emar_detail.shape[0]
route_iv = defaultdict(lambda:False)
route_not_iv = defaultdict(lambda:False)

for i in range(num_emar_details):
    emar_id = df_emar_detail.emar_id[i]
    route_iv[emar_id] = route_iv[emar_id] or route_iv_detail[i]
    route_not_iv[emar_id] = route_not_iv[emar_id] or route_not_iv_detail[i]
    
    if i % 100000 == 0:
        print(i)

0
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
1500000
1600000
1700000
1800000
1900000
2000000
2100000
2200000
2300000
2400000
2500000
2600000
2700000
2800000
2900000
3000000
3100000
3200000
3300000
3400000
3500000
3600000
3700000
3800000
3900000
4000000
4100000
4200000
4300000
4400000
4500000
4600000
4700000
4800000
4900000
5000000
5100000
5200000
5300000
5400000
5500000
5600000
5700000
5800000
5900000
6000000
6100000
6200000
6300000
6400000
6500000
6600000
6700000
6800000
6900000
7000000
7100000
7200000
7300000
7400000
7500000
7600000
7700000
7800000
7900000
8000000
8100000
8200000
8300000
8400000
8500000
8600000
8700000
8800000
8900000
9000000
9100000
9200000
9300000
9400000
9500000
9600000
9700000
9800000
9900000
10000000
10100000
10200000
10300000
10400000
10500000
10600000
10700000
10800000
10900000
11000000
11100000
11200000
11300000
11400000
11500000
11600000
11700000
11800000
11900000
12000000
12100000
12200000
12300000
12400000
12500000
12600000
12700000
12800000
12900000
13000000
13100000
13200000
13300000
13400000
13500000
13600000
13700000
13800000
13900000
14000000
14100000
14200000
14300000
14400000
14500000
14600000
14700000
14800000
14900000
15000000
15100000
15200000
15300000
15400000
15500000
15600000
15700000
15800000
15900000
16000000
16100000
16200000
16300000
16400000
16500000
16600000
16700000
16800000
16900000
17000000
17100000
17200000
17300000
17400000
17500000
17600000
17700000
17800000
17900000
18000000
18100000
18200000
18300000
18400000
18500000
18600000
18700000
18800000
18900000
19000000
19100000
19200000
19300000
19400000
19500000
19600000
19700000
19800000
19900000
20000000
20100000
20200000
20300000
20400000
20500000
20600000
20700000
20800000
20900000
21000000
21100000
21200000
21300000
21400000
21500000
21600000
21700000
21800000
21900000
22000000
22100000
22200000
22300000
22400000
22500000
22600000
22700000
22800000
22900000
23000000
23100000
23200000
23300000
23400000
23500000
23600000
23700000
23800000
23900000
24000000
24100000
24200000
24300000
24400000
24500000
24600000
24700000
24800000
24900000
25000000
25100000
25200000
25300000
25400000
25500000
25600000
25700000
25800000
25900000
26000000
26100000
26200000
26300000
26400000
26500000
26600000
26700000
26800000
26900000
27000000
27100000
27200000
27300000
27400000
27500000
27600000
27700000
27800000
27900000
28000000
28100000
28200000
28300000
28400000
28500000
28600000
28700000
28800000
28900000
29000000
29100000
29200000
29300000
29400000
29500000
29600000
29700000
29800000
29900000
30000000
30100000
30200000
30300000
30400000
30500000
30600000
30700000
30800000
30900000
31000000
31100000
31200000
31300000
31400000
31500000
31600000
31700000
31800000
31900000
32000000
32100000
32200000
32300000
32400000
32500000
32600000
32700000
32800000
32900000
33000000
33100000
33200000
33300000
33400000
33500000
33600000
33700000
33800000
33900000
34000000
34100000
34200000
34300000
34400000
34500000
34600000
34700000
34800000
34900000
35000000
35100000
35200000
35300000
35400000
35500000
35600000
35700000
35800000
35900000
36000000
36100000
36200000
36300000
36400000
36500000
36600000
36700000
36800000
36900000
37000000
37100000
37200000
37300000
37400000
37500000
37600000
37700000
37800000
37900000
38000000
38100000
38200000
38300000
38400000
38500000
38600000
38700000
38800000
38900000
39000000
39100000
39200000
39300000
39400000
39500000
39600000
39700000
39800000
39900000
40000000
40100000
40200000
40300000
40400000
40500000
40600000
40700000
40800000
40900000
41000000
41100000
41200000
41300000
41400000
41500000
41600000
41700000
41800000
41900000
42000000
42100000
42200000
42300000
42400000
42500000
42600000
42700000
42800000
42900000
43000000
43100000
43200000
43300000
43400000
43500000
43600000
43700000
43800000
43900000
44000000
44100000
44200000
44300000
44400000
44500000
44600000
44700000
44800000
44900000
45000000
45100000
45200000
45300000
45400000
45500000
45600000
45700000
45800000
45900000
46000000
46100000
46200000
46300000
46400000
46500000
46600000
46700000
46800000
46900000
47000000
47100000
47200000
47300000
47400000
47500000
47600000
47700000
47800000
47900000
48000000
48100000
48200000
48300000
48400000
48500000
48600000
48700000
48800000
48900000
49000000
49100000
49200000
49300000
49400000
49500000
49600000
49700000
49800000
49900000
50000000
50100000
50200000
50300000
50400000
50500000
50600000
50700000
50800000
50900000
51000000
51100000
51200000
51300000
51400000
51500000
51600000
51700000
51800000
51900000
52000000
52100000
52200000
52300000
52400000
52500000
52600000
52700000
52800000
52900000
53000000
53100000
53200000
53300000
53400000
53500000
53600000
53700000
53800000
53900000
54000000
54100000
54200000
54300000
54400000
54500000
54600000
54700000
54800000
54900000
55000000
55100000
55200000
55300000
55400000
55500000
55600000
55700000
55800000
55900000

In [115]:
route_iv_idx = np.array([not route_not_iv[emar_id] for emar_id in df_emar.emar_id.to_numpy()])
print(route_iv_idx.sum())

19269990

In [94]:
# prescriptions with hadm_id associated w heart failure ICD
in_icd = np.isin(df_emar.hadm_id, chf_hadm)

In [116]:
# final cohort with all prescription fields
cohort = df_emar[given_diuretic & in_icd & route_iv_idx]

In [117]:
# unique drug names to confirm no unwanted drugs are included
cohort.medication.unique()

array(['Furosemide', 'Furosemide-Heart Failure', 'Chlorothiazide',
       'Bumetanide', 'Furosemide in 0.9% Sodium Chloride', 'furosemide'],
      dtype=object)

In [118]:
cohort.hadm_id.unique().shape[0] #25691 unique HADM_IDs

11614

In [119]:
cohort.subject_id.unique().shape[0] #14757 unique SUBJECT_IDs

7158

In [120]:
cohort_hadm = cohort.hadm_id.unique()

## Part V: Removing Dialysis Patients

In [121]:
dialysis_codes = ["Z992", "N186", "5856", "V4511"]

In [122]:
df_event["chronic_dialysis"] = df_event["icd_code"].str.strip().isin(dialysis_codes)

In [123]:
dialysis_hadm = df_event[df_event["chronic_dialysis"] == True].hadm_id

In [124]:
df_event["chronic_dialysis"] = df_event['hadm_id'].isin(dialysis_hadm)

## Part VI: Final Cohort

In [125]:
final_cohort = df_event.drop(columns=['seq_num', 'icd_code', 'icd_version'])
final_cohort.head()

   subject_id   hadm_id  chronic_dialysis
0    11603789  25552978             False
1    11603789  25552978             False
2    11603789  25552978             False
3    11603789  25552978             False
4    11603789  25552978             False

In [126]:
final_cohort['CHF exacerbation'] = final_cohort['hadm_id'].isin(cohort_hadm)

In [127]:
final_cohort = final_cohort.drop_duplicates()

In [128]:
final_cohort.head()

    subject_id   hadm_id  chronic_dialysis  CHF exacerbation
0     11603789  25552978             False             False
5     16809467  29803749             False             False
10    11147319  25941345             False             False
14    12156531  29321418             False             False
19    14528388  29429446             False             False

In [129]:
len(final_cohort) #536165

443067

In [130]:
np.sum(final_cohort.hadm_id.value_counts() > 1)

0

In [131]:
final_cohort.to_csv('final_cohort.csv')

In [132]:
sum(final_cohort['chronic_dialysis']==False)

430281

In [133]:
final_cohort_selected = final_cohort[(final_cohort['chronic_dialysis']==False) & (final_cohort['CHF exacerbation']==True)]
final_cohort_selected.head()
final_cohort_selected.to_csv('final_cohort_selected.csv')

In [134]:
len(final_cohort_selected)

11213